@model DockerExamples.SSO.Models.Login

@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>

    <form name='form' action='@Model.Url' method='post'>
        <input type="submit" value="Login">
    </form>
</div>