<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Owin" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Owin.Authentication" version="10.3.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net48" />
</packages>